<html>
<head>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/default.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</head>
<body>


<h3>{{ filePath }}</h3>
<p><a href="download?filename={{ filePath }}">Download</a></p>
<pre><code class="sql">{{ fileContent }}</code></pre>

</body>
</html>